---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';
---

<header id="page-header" class="fixed z-20 flex-none mx-auto w-full">
	<input aria-hidden="true" type="checkbox" name="toggle_nav" id="toggle_nav" class="hidden peer" />
	<!-- menu bypass -->
	<a
		id="skip-to-main"
		href="#main-content"
		class="fixed inset-0 text-center bg-primary text-white border-b-2 border-white border-solid h-fit p-2 -translate-y-full focus:translate-y-0 ease-in-out duration-300"
		>Skip to Content</a
	>
	<!-- END menu bypass -->

	<div class="py-3 px-3 w-full lg:flex lg:justify-between lg:px-4">
		<div class="flex justify-between">
			<a id="brand" aria-label="logo" class="invisible items-center gap-3 flex" href={getHomePermalink()}>
				<h1 class="sr-only">Virgos Design</h1>
				<Logo />
			</a>
			<div class="flex items-center lg:hidden justify-self-end">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="bg-primary/30 backdrop-blur-md mt-6 lg:mt-0 lg:mb-0 rounded-md lg:bg-transparent lg:backdrop-blur-none lg:rounded-none lg:margin-0 items-center w-full lg:w-auto hidden lg:flex text-white text-lg font-semibold tracking-wide h-screen lg:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#">Pages</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getPermalink('useful-resources-to-create-websites', 'post')}
						>Resources
					</a>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getBlogPermalink()}>Blog</a
					>
				</li>
				<li class="md:hidden">
					<a
						class="font-bold hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="https://github.com/onwidget/astrowind"
						>Github
					</a>
				</li>
			</ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-5 h-5" />
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS Feed"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
					<a
						href="https://github.com/onwidget/astrowind"
						class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
						aria-label="Astrowind Github"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>

<style>
	#toggle_nav:checked ~ div #toggle-menu #line {
		@apply rotate-45 translate-y-1.5;
	}

	#toggle_nav:checked ~ div #toggle-menu #line2 {
		@apply -rotate-45 -translate-y-1;
	}
</style>

<script>
	const header: HTMLElement = document.getElementById('page-header');
	const nav: HTMLElement = document.getElementById('menu');
	const menuToggle: HTMLElement = document.getElementById('toggle-menu');
	const brand: HTMLElement = document.getElementById('brand');
	const hero: HTMLElement = document.getElementById('hero');
	const page = document.documentElement;

	document.addEventListener('scroll', () => {
		const d = hero.offsetHeight - (page.scrollTop + header.offsetHeight);

		if (d < 0) {
			brand.classList.add('visible');
			brand.classList.remove('invisible');
			header.classList.add('backdrop-blur-md', 'bg-white/30', 'border-b', 'border-white');
			nav.classList.remove('text-white');
			nav.classList.add('text-[#321A81]');
			menuToggle.classList.remove('text-white');
			menuToggle.classList.add('text-[#321A81]');
		} else {
			brand.classList.add('invisible');
			brand.classList.remove('visible');
			header.classList.remove('backdrop-blur-md', 'bg-white/30', 'border-b', 'border-white');
			nav.classList.remove('text-[#321A81]');
			nav.classList.add('text-white');
			menuToggle.classList.remove('text-[#321A81]');
			menuToggle.classList.add('text-white');
		}
	});
</script>
