---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';
import Container from '~/layouts/Container.astro';
import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';
---

<header
	id="page-header"
	class="sticky top-0 z-40 flex-none mx-auto w-full border-b dark:border-b-0"
>
	<div
		class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative max-w-7xl mx-auto px-6 md:px-12 xl:px-6"
	>
		<div class="relative z-20 w-full flex justify-between lg:w-max md:px-0">
			<Logo />
			<div class="relative flex items-center max-h-10">
				<ToggleMenu />
			</div>
		</div>
		<nav
			id="navigation"
			class="flex-col z-20 flex-wrap gap-6 p-8 rounded-3xl border border-gray-100 bg-white shadow-2xl shadow-gray-600/10 justify-end w-full invisible opacity-0 translate-y-1 absolute top-full left-0 transition-all duration-300 scale-95 origin-top lg:relative lg:scale-100 lg:translate-y-0 lg:flex lg:flex-row lg:items-center lg:gap-0 lg:p-0 lg:bg-transparent lg:w-7/12 lg:visible lg:opacity-100 lg:border-none lg:shadow-none dark:shadow-none dark:bg-gray-800 dark:border-gray-700"
		>
			<div class="text-gray-600 dark:text-gray-300 lg:pr-4 lg:w-auto w-full lg:pt-0">
				<ul class="tracking-wide font-medium lg:text-sm flex-col flex lg:flex-row gap-6 lg:gap-0">
					<li>
						<a href="/#about" class="block md:px-4 transition hover:text-primary">
							<span>About</span>
						</a>
					</li>
					<li>
						<a href="#" class="block md:px-4 transition hover:text-primary">
							<span>Services</span>
						</a>
					</li>
					<li>
						<a href="#" class="block md:px-4 transition hover:text-primary">
							<span>Process</span>
						</a>
					</li>
					<li>
						<a href="#" class="block md:px-4 transition hover:text-primary">
							<span>Pricing</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="mt-12 lg:mt-0">
				<a
					href="#"
					class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
				>
					<span class="relative text-sm font-semibold text-white">Get Started</span>
				</a>
			</div>
			<!-- Theme Toggle -->
			<ToggleTheme />
		</nav>
	</div>

	<!-- <div class="py-3 px-3 w-full md:flex md:justify-between md:px-4">
		<div class="flex justify-between">
			<Logo />
			<div class="flex items-center justify-self-end">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
			aria-label="Main navigation"
			id="menu"
		>
			<ul
				class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center collapse w-full md:w-auto collapsed text-xl md:text-base"
			>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#">Facility</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getPermalink('useful-resources-to-create-websites', 'post')}
						>Resources
					</a>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getBlogPermalink()}>Enrollment</a
					>
				</li>
				<li>
					<a
						class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href={getBlogPermalink()}>Contact</a
					>
				</li>
				<li class="md:hidden">
					<a
						class="font-bold hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="https://www.facebook.com/bluffsthinkers/"
						target="_blank"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
						Facebook
					</a>
				</li>
			</ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-5 h-5" />
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS Feed"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" class="w-5 h-5" />
					</a>
					<a
						href="https://www.facebook.com/bluffsthinkers/"
						target="_blank"
						class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
						aria-label="Bluff's Little Thinkers Facebook"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
					</a>
				</div>
			</div>
		</nav>
	</div> -->
</header>

<script>
	const header: HTMLElement = document.getElementById('page-header');
	const nav: HTMLElement = document.getElementById('navigation');
	/* const menuToggle: HTMLElement = document.getElementById('toggle-menu'); */
	const navToggle: HTMLInputElement = document.getElementById('toggle_nav');
	const brand: HTMLElement = document.getElementById('brand');
	const hero: HTMLElement = document.getElementById('hero');
	const page = document.documentElement;

	console.log('header', header);
	console.log('nav', nav);
	/* 	console.log("menuToggle", menuToggle); */
	console.log('brand', brand);
	console.log('hero', hero);
	console.log('page', page);

	navToggle.addEventListener('change', function() {
		if (this.checked) {
    console.log("Checkbox is checked..");
		nav.classList.add("lg:translate-y-0", "scale-100", "opacity-100", "visible")
		nav.classList.remove("invisible")
  } else {
    console.log("Checkbox is not checked..");
		nav.classList.remove("lg:translate-y-0", "scale-100", "opacity-100", "visible")
		nav.classList.add("invisible")
	}	
	})

	document.addEventListener('scroll', () => {
		const d = hero.offsetHeight - (page.scrollTop + header.offsetHeight);
		/* if (d < 0) { */
		if (page.scrollTop > 0) {
			/* brand.classList.add('visible');
			brand.classList.remove('invisible'); */
			header.classList.add('backdrop-blur-md', 'bg-white/30', 'dark:bg-slate-900/30', 'border-b', 'border-white');
			/* 			menuToggle.classList.remove('text-white');
			menuToggle.classList.add('text-[#321A81]'); */
		} else {
			/* brand.classList.add('invisible');
			brand.classList.remove('visible'); */
			header.classList.remove('backdrop-blur-md', 'bg-white/30', 'dark:bg-slate-900/30', 'border-b', 'border-white');
			/* 	menuToggle.classList.remove('text-[#321A81]');
			menuToggle.classList.add('text-white'); */
		}
	});
</script>
