---
import Header from '~/sections/Header.astro';
import Layout from '~/layouts/BaseLayout.astro';
import Footer from '~/sections/Footer.astro';
const { meta } = Astro.props;
---

<Layout {meta}>
	<Header />
	<slot name="hero" />
	<main class="">
		<slot />
	</main>
	<Footer />
</Layout>
